.projects .projects-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects .projects-header {
    padding-block-end: 16px;
}

.projects .project-title {
    font-weight: 500;
}