.project-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.project-meta {
    font-size: small;
    text-transform: uppercase;
    display: block;
}

.section-more-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}