.project-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.section-more-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}