.project-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.project-item {
    border-left: 1px solid light-dark(
        var(--colour-palette-neutral-300),
        var(--colour-palette-neutral-700)
    );
    padding-inline: 1rem;
}

.project-meta {
    font-size: small;
    text-transform: uppercase;
    display: block;
}

.section-more-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}