:root {

    --clr-050S: #f6f9f9;
    --clr-100S: #edf0f1;
    --clr-200S: #cad7d8;
    --clr-300S: #b2c6c7;
    --clr-400S: #89a6a7;
    --clr-500S: #6a8c8d;
    --clr-600S: #557274;
    --clr-700S: #455d5f;
    --clr-800S: #3c4e50;
    --clr-900S: #354345;
    --clr-950S: #232d2e;

    --clr-050DV: #f0fafb;
    --clr-100DV: #ddf4f5;
    --clr-200DV: #b8e6e9;
    --clr-300DV: #86d4da;
    --clr-400DV: #4eb8c2;
    --clr-500DV: #329ca8;
    --clr-600DV: #2d7f8d;
    --clr-700DV: #2a6774;
    --clr-800DV: #2a5560;
    --clr-900DV: #274852;
    --clr-950DV: #152e37;

    --clr-050LV: #eefffd;
    --clr-100LV: #c5fffc;
    --clr-200LV: #8bfffa;
    --clr-300LV: #4afef7;
    --clr-400LV: #15ecea;
    --clr-500LV: #00cfd0;
    --clr-600LV: #00a4a8;
    --clr-700LV: #00797e;
    --clr-800LV: #066369;
    --clr-900LV: #0a5457;
    --clr-950LV: #003035;

}

