:root {
    color-scheme: light dark;

    --clr-050S: #fafafa;
    --clr-100S: #f4f4f5;
    --clr-200S: #e4e4e7;
    --clr-300S: #d4d4d8;
    --clr-400S: #a1a1aa;
    --clr-500S: #71717a;
    --clr-600S: #52525b;
    --clr-700S: #3f3f46;
    --clr-800S: #27272a;
    --clr-900S: #18181b;
    --clr-950S: #09090b;

    --clr-050A: #f0fdfa;
    --clr-100A: #ccfbf1;
    --clr-200A: #99f6e4;
    --clr-300A: #5eead4;
    --clr-400A: #2dd4bf;
    --clr-500A: #14b8a6;
    --clr-600A: #0d9488;
    --clr-700A: #0f766e;
    --clr-800A: #115e59;
    --clr-900A: #134e4a;
    --clr-950A: #042f2e;

    --clr-surface: light-dark(var(--clr-050S), var(--clr-950S));
    --clr-on-surface: light-dark(var(--clr-950S), var(--clr-050S));
    --clr-surface-v: light-dark(var(--clr-200S), var(--clr-800S));
    --clr-on-surface-v: light-dark(var(--clr-200S), var(--clr-800S));
    
    --clr-accent: light-dark(var(--clr-800A), var(--clr-500A));
}