@import './reset.css';
@import './colours.css';

*, *::before, *::after {
    font-family: 'Inter Variable', sans-serif;
    transition: all 100ms ease-in-out;
}

body {
    background-color: var(--clr-surface);
    color: var(--clr-on-surface);
}