@import './reset.css';
@import './theme.css';

body {
    font-family: 'Inter Variable', sans-serif;
    font-variation-settings: 'opsz';
    background-color: var(--colour-bk-primary);
    color: var(--colour-text-primary);
}
