@import './reset.css';
@import './colours.css';

:root {
    --clr-surface-neutral: light-dark(var(--clr-100S), var(--clr-900S));
    --clr-on-surface-neutral: light-dark(var(--clr-950S), var(--clr-050S));
    --clr-surface-object: light-dark(var(--clr-050S), var(--clr-950S));
    --clr-on-surface-object: var(--clr-on-surface-neutral);
    --clr-on-surface-hover: light-dark(var(--clr-500S), var(--clr-500S));
    --clr-accent: light-dark(var(--clr-800A), var(--clr-400A));
}

*, *::before, *::after {
    transition: all 150ms ease-in-out;
}

body {
    font-family: 'Inter Variable', sans-serif;
    background-color: var(--clr-surface-neutral);
    color: var(--clr-on-surface-neutral);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 { font-size: 2.027rem; }
h2 { font-size: 1.802rem; }
h3 { font-size: 1.602rem; }
h4 { font-size: 1.424rem; }
h5 { font-size: 1.266rem; }
h6 { font-size: 1.125rem; }
small { font-size: 0.889rem; }
