:root {
    color-scheme: light dark;

    --clr-S000: #ffffff;
    --clr-S050: #f8fafc;
    --clr-S100: #f1f5f9;
    --clr-S200: #e2e8f0;
    --clr-S300: #cbd5e1;
    --clr-S400: #94a3b8;
    --clr-S500: #64748b;
    --clr-S600: #475569;
    --clr-S700: #334155;
    --clr-S800: #1e293b;
    --clr-S900: #0f172a;
    --clr-S950: #020617;
    --clr-A050: #f0fdfa;
    --clr-A100: #ccfbf1;
    --clr-A200: #99f6e4;
    --clr-A300: #5eead4;
    --clr-A400: #2dd4bf;
    --clr-A500: #14b8a6;
    --clr-A600: #0d9488;
    --clr-A700: #0f766e;
    --clr-A800: #115e59;
    --clr-A900: #134e4a;
    --clr-A950: #042f2e;

}

@media (prefers-color-scheme: light) {
    :root { color-scheme: light; }
}

@media (prefers-color-scheme: dark) {
    :root { color-scheme: dark; }
}