@font-face {
    font-family: "Inter";
    src: url("./inter-latin-300-normal.woff2");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Inter";
    src: url("./inter-latin-400-normal.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}


body {
    font-family: "Inter", sans-serif;
}