@import "./reset.css";
@import "./fonts.css";

:root {
    color-scheme: light dark;

    /** Tailwind Zinc and Sky */
    --colour-n50: oklch(0.985 0 0);
    --colour-n100: oklch(0.967 0.001 286.375);
    --colour-n200: oklch(0.92 0.004 286.32);
    --colour-n300: oklch(0.871 0.006 286.286);
    --colour-n400: oklch(0.705 0.015 286.067);
    --colour-n500: oklch(0.552 0.016 285.938);
    --colour-n600: oklch(0.442 0.017 285.786);
    --colour-n700: oklch(0.37 0.013 285.805);
    --colour-n800: oklch(0.274 0.006 286.033);
    --colour-n900: oklch(0.21 0.006 285.885);
    --colour-n950: oklch(0.141 0.005 285.823);
    --colour-a50: oklch(0.984 0.014 180.72);
    --colour-a100: oklch(0.953 0.051 180.801);
    --colour-a200: oklch(0.91 0.096 180.426);
    --colour-a300: oklch(0.855 0.138 181.071);
    --colour-a400: oklch(0.777 0.152 181.912);
    --colour-a500: oklch(0.704 0.14 182.503);
    --colour-a600: oklch(0.6 0.118 184.704);
    --colour-a700: oklch(0.511 0.096 186.391);
    --colour-a800: oklch(0.437 0.078 188.216);
    --colour-a900: oklch(0.386 0.063 188.416);
    --colour-a950: oklch(0.277 0.046 192.524);
    --colour-f300: oklch(87.9% 0.169 91.605);

    --pw-colour-background-base: light-dark(var(--colour-n050), var(--colour-n950));
    --pw-colour-foreground-base: light-dark(var(--colour-n950), var(--colour-n50));
}

html {
    font-family: InterVariable, Arial, sans-serif;
    background-color: var(--pw-colour-background-base);
    color: var(--pw-colour-foreground-base);
}

/** Content Wrappers */
div.header-wrapper,
div.content-wrapper,
div.footer-wrapper {
    max-width: 768px;
    margin-inline: auto;
    padding-inline: 16px;
}

div.flex-spacer {
    flex-grow: 1;
}
}