@import "./reset.css";
@import "./fonts.css";

:root {
    color-scheme: light dark;
    --colour-zinc-50: oklch(0.985 0 0);
    --colour-zinc-100: oklch(0.967 0.001 286.375);
    --colour-zinc-200: oklch(0.92 0.004 286.32);
    --colour-zinc-300: oklch(0.871 0.006 286.286);
    --colour-zinc-400: oklch(0.705 0.015 286.067);
    --colour-zinc-500: oklch(0.552 0.016 285.938);
    --colour-zinc-600: oklch(0.442 0.017 285.786);
    --colour-zinc-700: oklch(0.37 0.013 285.805);
    --colour-zinc-800: oklch(0.274 0.006 286.033);
    --colour-zinc-900: oklch(0.21 0.006 285.885);
    --colour-zinc-950: oklch(0.141 0.005 285.823);

    --colour-background-base: light-dark(var(--colour-zinc-050), var(--colour-zinc-950));
    --colour-foreground-base: light-dark(var(--colour-zinc-950), var(--colour-zinc-50));
}

html {
    font-family: InterVariable, Arial, sans-serif;
    background-color: var(--colour-background-base);
    color: var(--colour-foreground-base);
}