@import "./reset.css";
@import "./fonts.css";

:root {
    color-scheme: light dark;

    /** Tailwind Zinc and Sky */
    --colour-n50: oklch(0.985 0 0);
    --colour-n100: oklch(0.967 0.001 286.375);
    --colour-n200: oklch(0.92 0.004 286.32);
    --colour-n300: oklch(0.871 0.006 286.286);
    --colour-n400: oklch(0.705 0.015 286.067);
    --colour-n500: oklch(0.552 0.016 285.938);
    --colour-n600: oklch(0.442 0.017 285.786);
    --colour-n700: oklch(0.37 0.013 285.805);
    --colour-n800: oklch(0.274 0.006 286.033);
    --colour-n900: oklch(0.21 0.006 285.885);
    --colour-n950: oklch(0.141 0.005 285.823);
    --colour-a50: oklch(0.984 0.014 180.72);
    --colour-a100: oklch(0.953 0.051 180.801);
    --colour-a200: oklch(0.91 0.096 180.426);
    --colour-a300: oklch(0.855 0.138 181.071);
    --colour-a400: oklch(0.777 0.152 181.912);
    --colour-a500: oklch(0.704 0.14 182.503);
    --colour-a600: oklch(0.6 0.118 184.704);
    --colour-a700: oklch(0.511 0.096 186.391);
    --colour-a800: oklch(0.437 0.078 188.216);
    --colour-a900: oklch(0.386 0.063 188.416);
    --colour-a950: oklch(0.277 0.046 192.524);
    --colour-f300: oklch(87.9% 0.169 91.605);

    --colour-a50: oklch(0.984 0.019 200.873);
    --colour-a100: oklch(0.956 0.045 203.388);
    --colour-a200: oklch(0.917 0.08 205.041);
    --colour-a300: oklch(0.865 0.127 207.078);
    --colour-a400: oklch(0.789 0.154 211.53);
    --colour-a500: oklch(0.715 0.143 215.221);
    --colour-a600: oklch(0.609 0.126 221.723);
    --colour-a700: oklch(0.52 0.105 223.128);
    --colour-a800: oklch(0.45 0.085 224.283);
    --colour-a900: oklch(0.398 0.07 227.392);
    --colour-a950: oklch(0.302 0.056 229.695);

    --pw-colour-background-base: light-dark(var(--colour-n100), var(--colour-n900));
    --pw-colour-foreground-base: light-dark(var(--colour-n950), var(--colour-n50));
    --pw-colour-foreground-faded: light-dark(var(--colour-n600), var(--colour-n400));
    --pw-colour-background-inverted: light-dark(var(--colour-n950), var(--colour-n50));
    --pw-colour-foreground-inverted: light-dark(var(--colour-n50), var(--colour-n950));
    --pw-colour-foreground-focus: var(--colour-n950);
    --pw-colour-background-focus: var(--colour-f300);
    --pw-colour-border-base: var(--colour-n400);
    --pw-colour-border-accent: light-dark(var(--colour-a700), var(--colour-a400));
    --pw-colour-border-focus: var(--pw-colour-foreground-base);
}

html {
    font-family: "Inter Variable", Arial, sans-serif;
    background-color: var(--pw-colour-background-base);
    color: var(--pw-colour-foreground-base);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

/* ----- Content Wrappers ----- */
.header-wrapper,
.content-wrapper,
.footer-wrapper {
    max-width: 700px;
    padding-inline: 16px;
    margin-inline: auto;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-block: 16px;
}


:focus {
    outline: 1px dashed var(--pw-colour-border-focus);
}


/* Utility */
.flex-spacer {
    flex-grow: 1;
}

.subtle-text {
    color: var(--pw-colour-foreground-faded);
}

/* Skip Link */
.skip-link {
    position: absolute;
    top: -40px;
    color: inherit;
    padding: 4px 8px;
    background-color: var(--pw-colour-background-base);
    z-index: 10;
}

.skip-link:focus {
    top: 0;
}

/* Motif */
.motif .motif-sq {
    fill: var(--pw-colour-foreground-base);
}

/* Header and Navigation Bar */
.header .header-wrapper {
    display: flex;
    place-items: center;
    gap: 8px;
    height: 40px;
}

.nav .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.nav .nav-link {
    text-decoration: none;
    color: inherit;
}

.nav .nav-link::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

.nav .nav-link[aria-current="page"]::after {
    background-color: var(--pw-colour-border-accent);
}


/* Footer */
.footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    font-size: small;
    color: var(--pw-colour-foreground-faded);
}

.footer .footer-socials {
    display: flex;
    list-style: none;
    padding: 0;
    color: inherit;
    gap: 4px;
}

/* Link */
.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    text-decoration: 1px solid underline;
}

