@import "./reset.css";
@import "./fonts.css";

:root {
    color-scheme: light dark;

    /** Tailwind Zinc and Sky */
    --colour-n50: oklch(0.985 0 0);
    --colour-n100: oklch(0.967 0.001 286.375);
    --colour-n200: oklch(0.92 0.004 286.32);
    --colour-n300: oklch(0.871 0.006 286.286);
    --colour-n400: oklch(0.705 0.015 286.067);
    --colour-n500: oklch(0.552 0.016 285.938);
    --colour-n600: oklch(0.442 0.017 285.786);
    --colour-n700: oklch(0.37 0.013 285.805);
    --colour-n800: oklch(0.274 0.006 286.033);
    --colour-n900: oklch(0.21 0.006 285.885);
    --colour-n950: oklch(0.141 0.005 285.823);
    --colour-a50: oklch(0.984 0.014 180.72);
    --colour-a100: oklch(0.953 0.051 180.801);
    --colour-a200: oklch(0.91 0.096 180.426);
    --colour-a300: oklch(0.855 0.138 181.071);
    --colour-a400: oklch(0.777 0.152 181.912);
    --colour-a500: oklch(0.704 0.14 182.503);
    --colour-a600: oklch(0.6 0.118 184.704);
    --colour-a700: oklch(0.511 0.096 186.391);
    --colour-a800: oklch(0.437 0.078 188.216);
    --colour-a900: oklch(0.386 0.063 188.416);
    --colour-a950: oklch(0.277 0.046 192.524);
    --colour-f300: oklch(87.9% 0.169 91.605);

    --pw-colour-background-base: light-dark(var(--colour-n050), var(--colour-n950));
    --pw-colour-foreground-base: light-dark(var(--colour-n950), var(--colour-n50));
    --pw-colour-foreground-faded: light-dark(var(--colour-n600), var(--colour-n300));
    --pw-colour-foreground-focus: var(--colour-n950);
    --pw-colour-background-focus: var(--colour-f300);
    --pw-colour-border-base: var(--colour-n400);
}

html {
    font-family: "Inter Variable", Arial, sans-serif;
    background-color: var(--pw-colour-background-base);
    color: var(--pw-colour-foreground-base);
}

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: 600;
}


/* ----- Content Wrappers ----- */
.header-wrapper,
.content-wrapper,
.footer-wrapper {
    max-width: 700px;
    padding-inline: 16px;
    margin-inline: auto;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-block: 16px;
}


/* ----- Landmarks ------ */
.header-wrapper {
    display: flex;
    place-items: center;
    gap: 16px;
    height: 32px;
}

.footer {
    color: var(--pw-colour-foreground-faded);
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    padding-block: 8px;
}

.footer-socials {
    font-size: small;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 4px;
}


/* ----- Logo Styles ----- */
.logo-sq {
    fill: var(--pw-colour-foreground-base);
}


/* ----- Components ----- */
.link {
    color: inherit;
    max-width: max-content
}

.link:hover {
    text-decoration-skip-ink: none;
    text-decoration-thickness: 3px;
}

.link:focus {
    text-decoration: none;
    background-color: var(--pw-colour-background-focus);
    color: var(--pw-colour-foreground-focus);
    outline: transparent;
    box-shadow: 
        0 4px 0 0 var(--pw-colour-foreground-focus), 
        0 -4px 0 0 var(--pw-colour-background-focus);
}

.accordion__title {
    max-width: fit-content;
    text-decoration: 1px solid underline;
    cursor: pointer;
}

.accordion__title:hover {
    text-decoration-skip-ink: none;
    text-decoration-thickness: 3px;
}

.accordion__title:focus {
    text-decoration: none;
    background-color: var(--pw-colour-background-focus);
    color: var(--pw-colour-foreground-focus);
    outline: transparent;
    box-shadow: 
        0 4px 0 0 var(--pw-colour-foreground-focus), 
        0 -4px 0 0 var(--pw-colour-background-focus);
}

.accordion__content {
    border-inline-start: 4px solid var(--pw-colour-border-base);
    padding-inline: 16px;
    padding-block: 8px;
}

/* ----- Content Specific ----- */
.roadmap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.roadmap .changelogs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}