@import './reset.css';
@import './theme.css';
@import './borders.css';
@import './effect.css';

*, *::before, *::after {
    transition: all 150ms ease-in-out;
}

::selection {
    background-color: var(--colour-bk-select);
    color: var(--colour-text-select);
}

body {
    font-family: 'Inter Variable', sans-serif;
    background-color: var(--colour-bk-primary);
    color: var(--colour-text-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 1.875rem;
    line-height: calc(2.25/1.875);
}

h2 {
    font-size: 1.5rem;
    line-height: calc(2/1.25);
}

h3 {
    font-size: 1.25rem;
    line-height: calc(1.75/1.25);
}

h4 {
    font-size: 1.125rem;
    line-height: calc(1.75/1.125);
}

p {
    font-size: 1rem;
    line-height: calc(1.5/1)
}

small {
    font-size: 0.875rem;
    line-height: calc(1.25/0.875);
}

#app {
    max-width: 64rem;
    margin-inline: auto;
    padding-inline: 2rem;
}


@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

.material-symbols-outlined {
    font-family: "Material Symbols Rounded Variable";
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    display: inline-block;
    line-height: 1;
    letter-spacing: normal;
    white-space: nowrap;
    direction: ltr;
    font-variation-settings:
        "FILL" 0,
        "wght" 300,
        "GRAD" 0,
        "opsz" 16;
}
