:root {
    color-scheme: light dark;

    /*
        The base colour palette based off the colours from Tailwind CSS v4.1.
        These colour variables should not be used directly, but used to create
        semantic colour variables.

        These variables follow the convention:
            --colour-<VARIANCE><TYPE-PREFIX>: ;

        TYPE-PREFIX:
            What the colour is used for, e.g.
            P - primary surface and text.
            H - highlights
            F - Focus

        VARIANCE:
            Denotes the shade on the scale of
            000 - Lightest
            1000 - Darkest
    */

    --colour-050P: oklch(0.985 0.002 247.839);
    --colour-100P: oklch(0.967 0.003 264.542);
    --colour-200P: oklch(0.928 0.006 264.531);
    --colour-300P: oklch(0.872 0.01 258.338);
    --colour-400P: oklch(0.707 0.022 261.325);
    --colour-500P: oklch(0.551 0.027 264.364);
    --colour-600P: oklch(0.446 0.03 256.802);
    --colour-700P: oklch(0.373 0.034 259.733);
    --colour-800P: oklch(0.278 0.033 256.848);
    --colour-900P: oklch(0.21 0.034 264.665);
    --colour-950P: oklch(0.13 0.028 261.692);

    --colour-050H: oklch(0.984 0.014 180.72);
    --colour-100H: oklch(0.953 0.051 180.801);
    --colour-200H: oklch(0.91 0.096 180.426);
    --colour-300H: oklch(0.855 0.138 181.071);
    --colour-400H: oklch(0.777 0.152 181.912);
    --colour-500H: oklch(0.704 0.14 182.503);
    --colour-600H: oklch(0.6 0.118 184.704);
    --colour-700H: oklch(0.511 0.096 186.391);
    --colour-800H: oklch(0.437 0.078 188.216);
    --colour-900H: oklch(0.386 0.063 188.416);
    --colour-950H: oklch(0.277 0.046 192.524);

    --colour-050F: oklch(0.987 0.022 95.277);
    --colour-100F: oklch(0.962 0.059 95.617);
    --colour-200F: oklch(0.924 0.12 95.746);
    --colour-300F: oklch(0.879 0.169 91.605);
    --colour-400F: oklch(0.828 0.189 84.429);
    --colour-500F: oklch(0.769 0.188 70.08);
    --colour-600F: oklch(0.666 0.179 58.318);
    --colour-700F: oklch(0.555 0.163 48.998);
    --colour-800F: oklch(0.473 0.137 46.201);
    --colour-900F: oklch(0.414 0.112 45.904);
    --colour-950F: oklch(0.279 0.077 45.635);

    /*
        Semantic Colours, the light-dark adaptable colours to be used with
        components indirectly through additional variables.

        These variables follow the convention:
            --colour-<CONTEXT>-<TYPE-VARIANCE>: ;

        CONTEXT:
            How this colour will be used (surface, text, ...).

        TYPE-VARIANCE:
            What variant of the colour is used, e.g.
            primary - default.
            secondary - additional variant.
            ...
    */

    --colour-bk-primary: light-dark(var(--colour-050P), var(--colour-950P));
    --colour-bk-inverted: light-dark(var(--colour-950P), var(--colour-050P));
    --colour-bk-medium: light-dark(var(--colour-500P), var(--colour-500P));
    --colour-bk-select: light-dark(var(--colour-950P), var(--colour-050P));
    --colour-bk-hover: light-dark(var(--colour-200P), var(--colour-800P));
    --colour-bk-hover-stronger: light-dark(var(--colour-300P), var(--colour-600P));
    --colour-bk-secondary: light-dark(var(--colour-100P), var(--colour-900P));
    --colour-bk-highlight-lightest: light-dark(var(--colour-100H), var(--colour-900H));
    --colour-bk-highlight-subtle: light-dark(var(--colour-200H), var(--colour-800H));
    --colour-bk-highlight: light-dark(var(--colour-800H), var(--colour-500H));
    --colour-bk-highlight-hover: light-dark(var(--colour-700H), var(--colour-400H));

    --colour-text-primary: light-dark(var(--colour-950P), var(--colour-050P));
    --colour-text-inverted: light-dark(var(--colour-050P), var(--colour-950P));
    --colour-text-faded: light-dark(var(--colour-600P), var(--colour-400P));
    --colour-text-faded-less: light-dark(var(--colour-700P), var(--colour-300P));
    --colour-text-select: light-dark(var(--colour-050P), var(--colour-950P));
    --colour-text-highlight: light-dark(var(--colour-800H), var(--colour-200H));

    --colour-outline-hover: light-dark(var(--colour-300P), var(--colour-700P));
    --colour-outline-faded-more: light-dark(var(--colour-200P), var(--colour-800P));
    --colour-outline-faded: light-dark(var(--colour-300P), var(--colour-700P));
    --colour-outline-faded-less: light-dark(var(--colour-500P), var(--colour-500P));
    --colour-outline-primary: light-dark(var(--colour-950P), var(--colour-050P));
    --colour-outline-highlight: light-dark(var(--colour-800H), var(--colour-300H));
    --colour-outline-highlight-hover: light-dark(var(--colour-700H), var(--colour-400H));
    --colour-outline-highlight-lighter: light-dark(var(--colour-600H), var(--colour-500H));
    --colour-outline-highlight-subtle: light-dark(var(--colour-200H), var(--colour-800H));
    --colour-outline-inverted: light-dark(var(--colour-050P), var(--colour-950P));

    --colour-focus-outline: light-dark(var(--colour-400F), var(--colour-400F));
    --colour-focus-bk: light-dark(var(--colour-400F), var(--colour-400F));
    --colour-focus-text: light-dark(var(--colour-950P), var(--colour-950P))
}
