:root {
    --colour-primary-10: #00062b;
    --colour-primary-20: #011339;
    --colour-primary-30: #092046;
    --colour-primary-40: #152d55;
    --colour-primary-50: #213a63;
    --colour-primary-60: #2e4772;
    --colour-primary-70: #3b5581;
    --colour-primary-80: #496390;
    --colour-primary-90: #5874a1;
    --colour-primary-100: #6885b3;
    --colour-primary-110: #7996c5;
    --colour-primary-120: #8aa7d8;
    --colour-primary-130: #9bb9eb;
    --colour-primary-140: #accbfd;
    --colour-primary-150: #c0ddff;
    --colour-primary-160: #def0ff;

    --colour-neutral-0: #000000;
    --colour-neutral-2: #03050b;
    --colour-neutral-4: #070a11;
    --colour-neutral-6: #0c0f17;
    --colour-neutral-8: #11141c;
    --colour-neutral-10: #171a22;
    --colour-neutral-12: #1c1f28;
    --colour-neutral-14: #21242d;
    --colour-neutral-16: #262932;
    --colour-neutral-18: #2d2e37;
    --colour-neutral-20: #2f333c;
    --colour-neutral-22: #343842;
    --colour-neutral-24: #393d47;
    --colour-neutral-26: #3e424c;
    --colour-neutral-28: #434751;
    --colour-neutral-30: #494d47;
    --colour-neutral-32: #4e525c;
    --colour-neutral-34: #535761;
    --colour-neutral-36: #585c66;
    --colour-neutral-38: #5d616b;
    --colour-neutral-40: #626671;
    --colour-neutral-42: #676b76;
    --colour-neutral-44: #6c707b;
    --colour-neutral-46: #717580;
    --colour-neutral-48: #767a85;
    --colour-neutral-50: #7c808b;
    --colour-neutral-52: #818590;
    --colour-neutral-54: #868a95;
    --colour-neutral-56: #8b8f9a;
    --colour-neutral-58: #90949f;
    --colour-neutral-60: #9599a4;
    --colour-neutral-62: #9a9eaa;
    --colour-neutral-64: #9fa3af;
    --colour-neutral-66: #a4a8b4;
    --colour-neutral-68: #a9adb9;
    --colour-neutral-70: #afb3bf;
    --colour-neutral-72: #b4b8c4;
    --colour-neutral-74: #b9bdc9;
    --colour-neutral-76: #bec2ce;
    --colour-neutral-78: #c3c7d3;
    --colour-neutral-80: #c7ccd8;
    --colour-neutral-82: #ccd1dd;
    --colour-neutral-84: #d1d6e2;
    --colour-neutral-86: #d6dbe7;
    --colour-neutral-88: #dbe0ec;
    --colour-neutral-90: #e1e5f2;
    --colour-neutral-92: #e6ebf7;
    --colour-neutral-94: #ebf0fc;
    --colour-neutral-96: #f0f5ff;
    --colour-neutral-98: #f5faff;
    --colour-neutral-100: #ffffff; 
}