:root {
    color-scheme: light dark;

    --_colour-n50: oklch(0.985 0 0);
    --_colour-n100: oklch(0.967 0.001 286.375);
    --_colour-n200: oklch(0.92 0.004 286.32);
    --_colour-n300: oklch(0.871 0.006 286.286);
    --_colour-n400: oklch(0.705 0.015 286.067);
    --_colour-n500: oklch(0.552 0.016 285.938);
    --_colour-n600: oklch(0.442 0.017 285.786);
    --_colour-n700: oklch(0.37 0.013 285.805);
    --_colour-n800: oklch(0.274 0.006 286.033);
    --_colour-n900: oklch(0.21 0.006 285.885);
    --_colour-n950: oklch(0.141 0.005 285.823);
    --_colour-a50: oklch(0.984 0.019 200.873);
    --_colour-a100: oklch(0.956 0.045 203.388);
    --_colour-a200: oklch(0.917 0.08 205.041);
    --_colour-a300: oklch(0.865 0.127 207.078);
    --_colour-a400: oklch(0.789 0.154 211.53);
    --_colour-a500: oklch(0.715 0.143 215.221);
    --_colour-a600: oklch(0.609 0.126 221.723);
    --_colour-a700: oklch(0.52 0.105 223.128);
    --_colour-a800: oklch(0.45 0.085 224.283);
    --_colour-a900: oklch(0.398 0.07 227.392);
    --_colour-a950: oklch(0.302 0.056 229.695);

    --colour-background-primary: light-dark(var(--_colour-n100), var(--_colour-n900));
    --colour-foreground-primary: light-dark(var(--_colour-n900), var(--_colour-n100));
    --colour-background-inverted: light-dark(var(--_colour-n900), var(--_colour-n100));
    --colour-foreground-inverted: light-dark(var(--_colour-n100), var(--_colour-n900));
    --colour-border-primary: light-dark(var(--_colour-n900), var(--_colour-n100));
    --colour-border-faded-decor: light-dark(var(--_colour-n200), var(--_colour-n800));
    --colour-background-accent: light-dark(var(--_colour-a800), var(--_colour-a400));
    --colour-foreground-faded: light-dark(var(--_colour-n600), var(--_colour-n400));
    --colour-background-hover: light-dark(var(--_colour-n200), var(--_colour-n800));
    --colour-foreground-accent: light-dark(var(--_colour-a700), var(--_colour-a500));
    --colour-foreground-accent-less: light-dark(var(--_colour-a900), var(--_colour-a300));
    --colour-background-focus: #fd0;
    --colour-foreground-selection: light-dark(var(--_colour-a100), var(--_colour-a900));
    --colour-background-selection: light-dark(var(--_colour-a900), var(--_colour-a100));
}

/* Base Styles ------------------------------------------------------------------------ */

body {
    font-family: "Inter Variable", "Inter", Arial, Helvetica, sans-serif;
    background-color: var(--colour-background-primary);
    color: var(--colour-foreground-primary);
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 { font-size: 31px; }
h2 { font-size: 25px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 19px; }
h6 { font-size: 18px; }

:focus {
    outline: 2px dashed var(--colour-border-primary);
    outline-offset: 1px;
    background-color: var(--colour-background-focus);
    color: var(--_colour-n950) !important;
}

::selection {
    background-color: var(--colour-background-accent);
    color: var(--colour-foreground-inverted);
}

/* Utility ---------------------------------------------------------------------------- */

.flex-spacer {
    flex-grow: 1;
}

.subtle-text {
    color: var(--colour-foreground-faded);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Landmark Wrappers ------------------------------------------------------------------ */

.base-wrapper {
    max-width: 700px;
    margin-inline: auto;
    padding-inline: 16px;
}

/* Header and Navigation Landmark ----------------------------------------------------- */
.header {
    position: sticky;
    top: 0;
}

.header .header-wrapper {
    display: flex;
    place-items: center;
    gap: 8px;
    height: 40px;
}

.nav .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.nav .nav-link {
    text-decoration: none;
    color: inherit;
}

/* Main Landmark ---------------------------------------------------------------------- */
.content .content-wrapper {
    padding-block: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* Footer Landmark -------------------------------------------------------------------- */

.footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--colour-foreground-faded);
}

.footer .social-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

/* Motif Square ----------------------------------------------------------------------- */

.motif .motif-sq {
    fill: var(--colour-background-inverted);
}

.motif .motif-eye {
    fill: var(--colour-background-inverted);
}

.motif :active {
    fill: var(--colour-background-accent);
}

.motif:active:hover .motif-eye {
    fill: var(--colour-background-primary);
}

/* Skip Link -------------------------------------------------------------------------- */

.skip-link {
    position: absolute;
    padding: 4px 8px;
    top: -100px;
    color: inherit;
    background-color: var(--colour-background-focus);
    z-index: 10;
}

.skip-link:focus {
    top: 0;
}

/* Horizontal Divider ----------------------------------------------------------------- */

.h-div {
    border: 0;
    border-block-start: 1px solid var(--colour-border-faded-decor);
}

/* Link ------------------------------------------------------------------------------- */

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    text-decoration: 1px solid underline;
}

.link--coloured {
    color: var(--colour-foreground-accent);
}

.link--coloured:hover {
    color: var(--colour-foreground-accent-less);
}