:root {
    color-scheme: light dark;

    /*  Base colour palette variables. This should not be used directly by components.
        These variables follow the common pattern of --colour-palette-{group}-{variant},
        and use HSL for better compability.

        These colours are from the Tailwind version 4 Zinc, Teal and Amber palettes.
            @ref: https://tailwindcss.com/docs/colors
    */

    --colour-palette-neutral-50 : hsl(0 0% 98%)  ;
    --colour-palette-neutral-100: hsl(240 5% 96%);
    --colour-palette-neutral-200: hsl(240 6% 90%);
    --colour-palette-neutral-300: hsl(240 5% 84%);
    --colour-palette-neutral-400: hsl(240 5% 64%);
    --colour-palette-neutral-500: hsl(240 4% 46%);
    --colour-palette-neutral-600: hsl(240 6% 34%);
    --colour-palette-neutral-700: hsl(240 5% 26%);
    --colour-palette-neutral-800: hsl(240 4% 16%);
    --colour-palette-neutral-900: hsl(240 6% 10%);
    --colour-palette-neutral-950: hsl(240 10% 4%);

    --colour-palette-accent-50 : hsl(166 76% 97%) ;
    --colour-palette-accent-100: hsl(168 86% 89%) ;
    --colour-palette-accent-200: hsl(168 86% 78%) ;
    --colour-palette-accent-300: hsl(171 81% 60%) ;
    --colour-palette-accent-400: hsl(173 100% 42%);
    --colour-palette-accent-500: hsl(174 100% 37%);
    --colour-palette-accent-600: hsl(175 100% 29%);
    --colour-palette-accent-700: hsl(176 100% 24%);
    --colour-palette-accent-800: hsl(177 100% 19%);
    --colour-palette-accent-900: hsl(176 76% 18%) ;
    --colour-palette-accent-950: hsl(179 92% 10%) ;

    --colour-palette-focus-400: hsl(44 100% 50%);
    --colour-palette-focus-500: hsl(36 100% 50%);

    --colour-palette-neutral-50-glass: hsl(0 0% 98% / 0.5);
    --colour-palette-neutral-950-glass: hsl(240 10% 4% / 0.5);

    /*  The semantic colours variables. These are use by the components directly providing
        both a light and dark variant from the base colours.
        These variables follow the common pattern of --colour-{use}-{context}
    */

    --colour-background-primary-glass: light-dark(var(--colour-palette-neutral-50-glass), var(--colour-palette-neutral-950-glass));
    --colour-background-primary: light-dark(var(--colour-palette-neutral-50), var(--colour-palette-neutral-950));
    --colour-foreground-primary: light-dark(var(--colour-palette-neutral-950), var(--colour-palette-neutral-50));
    --colour-border-primary: var(--colour-foreground-primary);

    --colour-background-inverted: var(--colour-foreground-primary);
    --colour-foreground-inverted: var(--colour-background-primary);

    --colour-background-focus: var(--colour-palette-focus-500);
    --colour-foreground-focus: var(--colour-palette-neutral-950);
    
    --colour-background-selection: light-dark(var(--colour-palette-accent-800), var(--colour-palette-accent-400));
    --colour-foreground-selection: light-dark(var(--colour-palette-neutral-50), var(--colour-palette-neutral-950));

    --colour-background-muted-more: light-dark(var(--colour-palette-neutral-200), var(--colour-palette-neutral-800));
    --colour-background-muted: light-dark(var(--colour-palette-neutral-300), var(--colour-palette-neutral-700));
    --colour-foreground-muted: light-dark(var(--colour-palette-neutral-600), var(--colour-palette-neutral-400));
    --colour-border-muted: var(--colour-foreground-muted);
    --colour-border-muted-more: var(--colour-background-muted-more);

    --colour-background-accent: light-dark(var(--colour-palette-accent-700), var(--colour-palette-accent-500));
}

/* Base Styles ------------------------------------------------------------------------ */

body {
    font-family: "Inter Variable", "Inter", Arial, Helvetica, sans-serif;
    background-color: var(--colour-background-primary);
    color: var(--colour-foreground-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 { font-size: 31px; }
h2 { font-size: 25px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 19px; }
h6 { font-size: 18px; }

:focus {
    outline: 2px dashed var(--colour-border-primary);
    outline-offset: 1px;
    background-color: var(--colour-background-focus);
    color: var(--colour-foreground-focus) !important;
}

::selection {
    background-color: var(--colour-background-selection);
    color: var(--colour-foreground-selection);
}

/* Utility ---------------------------------------------------------------------------- */

.flex-spacer {
    flex-grow: 1;
}

.subtle-text {
    color: var(--colour-foreground-muted);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Landmark Wrappers ------------------------------------------------------------------ */

.base-wrapper {
    max-width: 700px;
    margin-inline: auto;
    padding-inline: 16px;
}

/* Header and Navigation Landmark ----------------------------------------------------- */

.header {
    background-color: var(--colour-background-primary-glass);
    border-bottom: 2px solid var(--colour-background-primary);
    backdrop-filter: blur(3px);
    position: sticky;
    top: 0;
}

.header .header-wrapper {
    display: flex;
    place-items: center;
    gap: 8px;
    height: 50px;
}

.nav .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.nav .nav-link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: small;
    position: relative;
}

.nav .nav-link::after {
    content: '';
    background-color: transparent;
    display: flex;
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 0%;
}

.nav .nav-link[aria-current="page"]::after {
    background-color: var(--colour-background-accent);
    width: 70%;
}

.nav .nav-link:hover {
    background-color: var(--colour-background-muted-more);
}

.nav .nav-link:hover::after {
    width: 100%;
}

.nav .nav-link:focus {
    background-color: var(--colour-background-focus);
}

.nav .nav-link:not([aria-current])::after  {
    background-color: var(--colour-foreground-muted);
}

@media (prefers-reduced-motion: no-preference) {
    .nav-link:hover::after {
        transition: width ease-in 200ms;
    }
}

/* Main Landmark ---------------------------------------------------------------------- */

.content .content-wrapper {
    padding-block: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* Footer Landmark -------------------------------------------------------------------- */

.footer {
    margin-bottom: 16px;
}

.footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--colour-foreground-muted);
}

.footer .social-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

@media (max-width: 460px) {
    .footer {
        margin-bottom: 64px;
    }
}

/* Motif Square ----------------------------------------------------------------------- */

.motif .motif-sq {
    fill: var(--colour-background-inverted);
}

.motif .motif-eye {
    fill: var(--colour-background-inverted);
}

.motif:hover .motif-eye {
    fill: var(--colour-background-primary);
}

.motif:active {
    scale: 140%;
}

@media (prefers-reduced-motion: no-preference) {
    .motif {
        animation: motif-scale-out;
    }

    .motif:hover {
        transition: scale cubic-bezier(.9,.03,.69,.22);
        animation-duration: 250ms;
    }

    .motif:active {
        transition: scale cubic-bezier(.17,.84,.44,1);
        animation-name: motif-scale-in;
        animation-duration: 250ms;
    }
}

@keyframes motif-scale-in {
    0% { scale: 100%; }
    40% { scale: 120%; }
    50% { scale: 130% }
    75% { scale: 142%; }
    100% { scale: 140%; }
}

@keyframes motif-scale-out {
    0% { scale: 140%; }
    100% { scale: 100%; }
}

/* Skip Link -------------------------------------------------------------------------- */

.skip-link {
    position: absolute;
    padding: 4px 8px;
    top: -100px;
    color: inherit;
    background-color: var(--colour-background-focus);
    z-index: 10;
}

.skip-link:focus {
    top: 0;
}

.top-link {
    width: fit-content;
    margin-block: 16px;
}

/* Horizontal Divider ----------------------------------------------------------------- */

.h-div {
    border: 0;
    border-block-start: 1px solid var(--colour-border-muted-more);
}

/* Link ------------------------------------------------------------------------------- */

.link {
    color: inherit;
    text-decoration: 1px solid underline;
}

.link--inactive {
    cursor: not-allowed;
    color: var(--colour-foreground-faded);
}

/* Accordion -------------------------------------------------------------------------- */

.accordion .accordion-title {
    width: fit-content;
    cursor: pointer;
    color: var(--colour-foreground-primary);
    text-decoration: 1px solid underline;
}

.accordion .accordion-content {
    padding-inline: 32px;
    padding-block: 8px;
    position: relative;
}

.accordion .accordion-content::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: var(--colour-border-muted);
    left: 2px;
}