:root {
    color-scheme: light dark;

    --_colour-n50: oklch(0.985 0 0);
    --_colour-n100: oklch(0.967 0.001 286.375);
    --_colour-n200: oklch(0.92 0.004 286.32);
    --_colour-n300: oklch(0.871 0.006 286.286);
    --_colour-n400: oklch(0.705 0.015 286.067);
    --_colour-n500: oklch(0.552 0.016 285.938);
    --_colour-n600: oklch(0.442 0.017 285.786);
    --_colour-n700: oklch(0.37 0.013 285.805);
    --_colour-n800: oklch(0.274 0.006 286.033);
    --_colour-n900: oklch(0.21 0.006 285.885);
    --_colour-n950: oklch(0.141 0.005 285.823);
    --_colour-a50: oklch(0.984 0.014 180.72);
    --_colour-a100: oklch(0.953 0.051 180.801);
    --_colour-a200: oklch(0.91 0.096 180.426);
    --_colour-a300: oklch(0.855 0.138 181.071);
    --_colour-a400: oklch(0.777 0.152 181.912);
    --_colour-a500: oklch(0.704 0.14 182.503);
    --_colour-a600: oklch(0.6 0.118 184.704);
    --_colour-a700: oklch(0.511 0.096 186.391);
    --_colour-a800: oklch(0.437 0.078 188.216);
    --_colour-a900: oklch(0.386 0.063 188.416);
    --_colour-a950: oklch(0.277 0.046 192.524);
    --_colour-f400: oklch(82.8% 0.189 84.429);
    --_colour-f500: oklch(76.9% 0.188 70.08);

    --colour-background-primary: light-dark(var(--_colour-n100), var(--_colour-n900));
    --colour-foreground-primary: light-dark(var(--_colour-n900), var(--_colour-n100));
    --colour-background-inverted: light-dark(var(--_colour-n900), var(--_colour-n100));
    --colour-foreground-inverted: light-dark(var(--_colour-n100), var(--_colour-n900));
    --colour-border-primary: light-dark(var(--_colour-n900), var(--_colour-n100));
    --colour-border-faded-decor: light-dark(var(--_colour-n200), var(--_colour-n800));
    --colour-background-accent: light-dark(var(--_colour-a800), var(--_colour-a400));
    --colour-foreground-faded: light-dark(var(--_colour-n600), var(--_colour-n400));
    --colour-background-hover: light-dark(var(--_colour-n200), var(--_colour-n800));
    --colour-foreground-accent: light-dark(var(--_colour-a700), var(--_colour-a500));
    --colour-foreground-accent-less: light-dark(var(--_colour-a900), var(--_colour-a300));
    --colour-background-focus: var(--_colour-f500);
    --colour-foreground-selection: light-dark(var(--_colour-a100), var(--_colour-a900));
    --colour-background-selection: light-dark(var(--_colour-a900), var(--_colour-a100));
    --colour-border-accent: light-dark(var(--_colour-a800), var(--_colour-a400));
}

/* Base Styles ------------------------------------------------------------------------ */

body {
    font-family: "Inter Variable", "Inter", Arial, Helvetica, sans-serif;
    background-color: var(--colour-background-primary);
    color: var(--colour-foreground-primary);
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 { font-size: 31px; }
h2 { font-size: 25px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 19px; }
h6 { font-size: 18px; }

:focus {
    outline: 2px dashed var(--colour-border-primary);
    outline-offset: 1px;
    background-color: var(--colour-background-focus);
    color: var(--_colour-n950) !important;
}

::selection {
    background-color: var(--colour-background-accent);
    color: var(--colour-foreground-inverted);
}

/* Utility ---------------------------------------------------------------------------- */

.flex-spacer {
    flex-grow: 1;
}

.subtle-text {
    color: var(--colour-foreground-faded);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Landmark Wrappers ------------------------------------------------------------------ */

.base-wrapper {
    max-width: 700px;
    margin-inline: auto;
    padding-inline: 16px;
}

/* Header and Navigation Landmark ----------------------------------------------------- */

.header {
    background-color: light-dark(oklch(0.967 0.001 286.375 / 0.75), oklch(0.21 0.006 285.885 / 0.75));
    backdrop-filter: blur(3px);
    position: sticky;
    top: 0;
}

.header .header-wrapper {
    display: flex;
    place-items: center;
    gap: 8px;
    height: 50px;
}

.nav .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.nav .nav-link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: small;
    position: relative;
}

.nav .nav-link::after {
    content: '';
    background-color: transparent;
    display: flex;
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 70%;
}

.nav .nav-link:hover {
    background-color: var(--colour-background-hover);
}

.nav .nav-link:hover::after {
    background-color: var(--colour-foreground-faded);
    width: 100%;
}

.nav .nav-link:active:hover {
    background-color: var(--colour-background-focus);
}

.nav .nav-link[aria-current="page"]::after {
    background-color: var(--colour-border-accent);
}

/* Main Landmark ---------------------------------------------------------------------- */

.content .content-wrapper {
    padding-block: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* Footer Landmark -------------------------------------------------------------------- */

.footer {
    margin-bottom: 16px;
}

.footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--colour-foreground-faded);
}

.footer .social-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

@media (max-width: 460px) {
    .footer {
        margin-bottom: 64px;
    }
}

/* Motif Square ----------------------------------------------------------------------- */

.motif .motif-sq {
    fill: var(--colour-background-inverted);
}

.motif .motif-eye {
    fill: var(--colour-background-inverted);
}

.motif:hover {
    fill: var(--colour-background-accent);
}

.motif:hover .motif-eye {
    fill: var(--colour-background-primary);
}

.motif:active {
    scale: 125%;
}

@media (prefers-reduced-motion: no-preference) {
    .motif {
        animation: motif-scale-out;
    }

    .motif:hover {
        transition: scale cubic-bezier(.9,.03,.69,.22);
        animation-duration: 250ms;
    }

    .motif:active {
        transition: scale cubic-bezier(.17,.84,.44,1);
        animation-name: motif-scale-in;
        animation-duration: 250ms;
    }
}

@keyframes motif-scale-in {
    0% { scale: 100%; }
    40% { scale: 120%; }
    50% { scale: 130% }
    75% { scale: 142%; }
    100% { scale: 140%; }
}

@keyframes motif-scale-out {
    0% { scale: 140%; }
    100% { scale: 100%; }
}

/* Skip Link -------------------------------------------------------------------------- */

.skip-link {
    position: absolute;
    padding: 4px 8px;
    top: -100px;
    color: inherit;
    background-color: var(--colour-background-focus);
    z-index: 10;
}

.skip-link:focus {
    top: 0;
}

/* Horizontal Divider ----------------------------------------------------------------- */

.h-div {
    border: 0;
    border-block-start: 1px solid var(--colour-border-faded-decor);
}

/* Link ------------------------------------------------------------------------------- */

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    text-decoration: 1px solid underline;
}

.link--coloured {
    color: var(--colour-foreground-accent);
}

.link--coloured:hover {
    color: var(--colour-foreground-accent-less);
}

.link--inactive {
    color: var(--colour-foreground-faded);
}

.link--inactive:hover {
    text-decoration: none;
}