.hero {
    display: flex;
    flex-direction: column;
    padding-block: 16px;
}

.hero .heading {
    letter-spacing: -0.01em;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projects .project-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects .project-card-link-wrapper {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
}

.projects .project-card-link-wrapper:hover {
    text-decoration: 1px solid underline;
}

