@import './reset.css';
@import './theme.css';
@import './border.css';

*, *::before, *::after {
    transition: all 100ms ease-in-out;
}

body {
    font-family: 'Inter Variable', sans-serif;
    font-variation-settings: 'opsz';
    background-color: var(--colour-surface-primary);
    color: var(--colour-text-primary);
}

::selection {
    background-color: var(--colour-surface-inverted);
    color: var(--colour-text-inverted);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 1.875rem;
    line-height: calc(2.25 / 1.875);
}

h2 {
    font-size: 1.5rem;
    line-height: calc(2 / 1.5);
}

h3 {
    font-size: 1.25rem;
    line-height: calc(1.75 / 1.125);
}

h4 {
    font-size: 1.125rem;
    line-height: calc(1.75 / 1.125);
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

small {
    font-size: 0.875rem;
    line-height: calc(1.25 / 0.875);
}

